## Flows

In [3]:
import sys
print(sys.version)

3.11.5 | packaged by Anaconda, Inc. | (main, Sep 11 2023, 13:26:23) [MSC v.1916 64 bit (AMD64)]

In [4]:
# Policies Scenario

In [5]:
# Re-import necessary libraries in the current environment
import os
import pandas as pd

# path to the "data" directory
data_folder_path = './data'

# Path to the Excel file
excel_file_path = os.path.join(data_folder_path, 'CM_Data_Explorer.xlsx')
sheet = '2.3 EV'

# Load the data into a pandas DataFrame for stated policies
df_stated_policies = pd.read_excel(excel_file_path, sheet_name=sheet, usecols="A:I", skiprows=81, nrows=11)

# Define the header row for stated policies
header_stated_policies = pd.read_excel(excel_file_path, sheet_name=sheet, usecols="B:I", skiprows=4, nrows=1).columns

# Set the header of the DataFrame for stated policies
df_stated_policies.columns = ['Mineral'] + list(header_stated_policies)

# Set the index of the DataFrame for stated policies
df_stated_policies.set_index('Mineral', inplace=True)

# Drop columns that contain NaN values for stated policies
df_stated_policies_cleaned = df_stated_policies.dropna(axis=1)

# Add a column to indicate the scenario for stated policies
df_stated_policies_cleaned['Scenario'] = 'Stated policies'

In [6]:
df_stated_policies_cleaned

,2022,2025,2030,2035,2040,2045,2050,Scenario
Mineral,,,,,,,,
Copper,373.331000,579.785000,1044.140000,1219.210000,1421.160000,1457.660000,1345.870000,Stated policies
Cobalt,64.560600,66.370100,73.937400,77.672800,105.309000,133.987000,145.613000,Stated policies
Graphite,557.201000,935.667000,1590.250000,1781.780000,1690.570000,1491.750000,1077.400000,Stated policies
Lithium,69.739000,123.040000,228.013000,325.354000,433.207000,490.857000,465.842000,Stated policies
Manganese,75.369600,57.891900,152.357000,298.058000,521.471000,801.579000,993.944000,Stated policies
Nickel,325.831000,613.862000,988.053000,1214.570000,1515.790000,1615.170000,1579.680000,Stated policies
Silicon,8.699820,40.497200,138.516000,224.223000,351.987000,374.071000,373.485000,Stated policies
Neodymium,3.961940,7.254040,12.216200,15.131100,18.849600,21.800200,22.879100,Stated policies
Dysprosium,0.412567,0.741466,1.206380,1.477870,1.839840,2.127840,2.234850,Stated policies
Praseodymium,0.594292,1.088110,1.832430,2.269670,2.827440,3.270030,3.431870,Stated policies
Terbium,0.080606,0.148403,0.252407,0.313597,0.390735,0.451897,0.474163,Stated policies

In [26]:
# Pledges Scenario

In [9]:
import pandas as pd

# path to the "data" directory
data_folder_path = './data'

# Path to the Excel file
excel_file_path = os.path.join(data_folder_path, 'CM_Data_Explorer.xlsx')

# Load the 'Announced Pledge' scenario data
# Since the data starts from column K, which corresponds to 'usecols' 10 to 15 (0-indexed)
df_announced_pledge = pd.read_excel(
    excel_file_path,
    sheet_name='2.3 EV',
    usecols="K:P",  # Select columns K to P
    skiprows=82,  # Skip rows to start from row 83 (0-indexed)
    nrows=11,  # Read 12 rows starting from row 83 (1-indexed)
    header=None  # Do not treat the first row as the header
)

# Define the header row for stated policies
header_announced_pledge = pd.read_excel(excel_file_path, sheet_name=sheet, usecols="D:I", skiprows=4, nrows=1).columns

# Add the header to the DataFrame
df_announced_pledge.columns = header_announced_pledge

# Now, let's retrieve the index from the 'Stated Policies' DataFrame
index_stated_policies = df_stated_policies.index.tolist()

# Insert the index column to 'Announced Pledge' DataFrame
df_announced_pledge.insert(0, 'Mineral', index_stated_policies)

# Set the new column as the index
df_announced_pledge.set_index('Mineral', inplace=True)

df_announced_pledge

df_announced_pledge['Scenario'] = 'Announced pledges'

In [10]:
df_announced_pledge

,2025,2030,2035,2040,2045,2050,Scenario
Mineral,,,,,,,
Copper,688.677000,1591.930000,2570.400000,3134.770000,3241.24000,3306.83000,Announced pledges
Cobalt,77.490600,112.915000,159.350000,212.579000,257.84600,295.68700,Announced pledges
Graphite,1100.860000,2436.530000,3703.060000,3611.270000,3136.32000,2485.77000,Announced pledges
Lithium,145.262000,349.470000,671.274000,907.051000,1005.67000,1039.49000,Announced pledges
Manganese,67.681300,231.467000,595.156000,1028.010000,1508.40000,1997.33000,Announced pledges
Nickel,709.341000,1497.550000,2440.730000,3040.230000,3138.78000,3272.53000,Announced pledges
Silicon,46.649800,208.785000,442.164000,691.556000,718.74100,786.07800,Announced pledges
Neodymium,8.403220,17.634300,30.258200,39.487300,44.31230,48.73380,Announced pledges
Dysprosium,0.859738,1.742720,2.962000,3.865470,4.34320,4.78711,Announced pledges
Praseodymium,1.260480,2.645150,4.538730,5.923100,6.64684,7.31007,Announced pledges
Terbium,0.171865,0.364278,0.626716,0.817872,0.91749,1.00842,Announced pledges

In [12]:
# Load the 'Announced Pledge' scenario data
# Since the data starts from column K, which corresponds to 'usecols' 10 to 15 (0-indexed)
df_net_zero = pd.read_excel(
    excel_file_path,
    sheet_name='2.3 EV',
    usecols="R:W",  # Select columns K to P
    skiprows=82,  # Skip rows to start from row 83 (0-indexed)
    nrows=11,  # Read 12 rows starting from row 83 (1-indexed)
    header=None  # Do not treat the first row as the header
)

# Define the header row for stated policies
header_announced_pledge = pd.read_excel(excel_file_path, sheet_name=sheet, usecols="D:I", skiprows=4, nrows=1).columns

# Add the header to the DataFrame
df_net_zero.columns = header_announced_pledge

# Now, let's retrieve the index from the 'Stated Policies' DataFrame
index_stated_policies = df_stated_policies.index.tolist()

# Insert the index column to 'Announced Pledge' DataFrame
df_net_zero.insert(0, 'Mineral', index_stated_policies)

# Set the new column as the index
df_net_zero.set_index('Mineral', inplace=True)

df_net_zero

df_net_zero['Scenario'] = 'Net zero 2050'

In [13]:
df_net_zero

,2025,2030,2035,2040,2045,2050,Scenario
Mineral,,,,,,,
Copper,1152.050000,2703.910000,3799.470000,3883.620000,3897.36000,3582.920000,Net zero 2050
Cobalt,130.418000,187.993000,230.828000,243.972000,278.21400,290.557000,Net zero 2050
Graphite,1844.360000,4114.970000,5486.070000,4540.400000,3786.42000,2726.080000,Net zero 2050
Lithium,242.703000,591.556000,985.437000,1105.550000,1172.97000,1104.010000,Net zero 2050
Manganese,112.903000,377.932000,816.385000,1126.130000,1566.12000,1926.730000,Net zero 2050
Nickel,1157.040000,2414.370000,3391.950000,3450.650000,3444.45000,3289.200000,Net zero 2050
Silicon,74.535200,328.747000,594.711000,755.772000,771.62900,795.034000,Net zero 2050
Neodymium,12.968100,26.305200,35.014500,33.930100,36.66410,37.463300,Net zero 2050
Dysprosium,1.330440,2.611470,3.450960,3.350600,3.62476,3.707260,Net zero 2050
Praseodymium,1.945210,3.945770,5.252170,5.089510,5.49962,5.619490,Net zero 2050
Terbium,0.265012,0.542697,0.723856,0.701055,0.75730,0.773601,Net zero 2050

In [33]:
# Convert df_stated_policies_cleaned to long format
df_stated_long = pd.melt(df_stated_policies_cleaned.reset_index(), id_vars=['Mineral', 'Scenario'], var_name='Year', value_name='Demand')
df_stated_long['Year'] = df_stated_long['Year'].astype(int)  # Ensure 'Year' is integer

# Convert df_announced_pledge to long format
df_announced_long = pd.melt(df_announced_pledge.reset_index(), id_vars=['Mineral', 'Scenario'], var_name='Year', value_name='Demand')
df_announced_long['Year'] = df_announced_long['Year'].astype(int)

# Assuming df_net_zero is prepared similarly
df_net_zero_long = pd.melt(df_net_zero.reset_index(), id_vars=['Mineral', 'Scenario'], var_name='Year', value_name='Demand')
df_net_zero_long['Year'] = df_net_zero_long['Year'].astype(int)

# Merge all three DataFrames
merged_df = pd.concat([df_stated_long, df_announced_long, df_net_zero_long])

# If you want to set 'Mineral' and 'Year' as a MultiIndex
merged_df.set_index(['Mineral', 'Year'], inplace=True)

# Show the merged DataFrame
print(merged_df.head())

                       Scenario    Demand
Mineral   Year
Copper    2022  Stated policies  373.3310
Cobalt    2022  Stated policies   64.5606
Graphite  2022  Stated policies  557.2010
Lithium   2022  Stated policies   69.7390
Manganese 2022  Stated policies   75.3696

In [34]:
merged_df

                          Scenario      Demand
Mineral      Year
Copper       2022  Stated policies  373.331000
Cobalt       2022  Stated policies   64.560600
Graphite     2022  Stated policies  557.201000
Lithium      2022  Stated policies   69.739000
Manganese    2022  Stated policies   75.369600
...                            ...         ...
Silicon      2050    Net zero 2050  795.034000
Neodymium    2050    Net zero 2050   37.463300
Dysprosium   2050    Net zero 2050    3.707260
Praseodymium 2050    Net zero 2050    5.619490
Terbium      2050    Net zero 2050    0.773601

[209 rows x 2 columns]

In [35]:
# Assuming merged_df is your DataFrame
merged_df.columns = [col.lower() for col in merged_df.columns]

# Or equivalently
merged_df.columns = merged_df.columns.str.lower()

# Show the updated DataFrame columns to confirm
print(merged_df.columns)

Index(['scenario', 'demand'], dtype='object')

In [36]:
merged_df_reset = merged_df.reset_index()

# Now let's convert all column names to lowercase
merged_df_reset.columns = merged_df_reset.columns.str.lower()

merged_df_reset

          mineral  year         scenario      demand
0          Copper  2022  Stated policies  373.331000
1          Cobalt  2022  Stated policies   64.560600
2        Graphite  2022  Stated policies  557.201000
3         Lithium  2022  Stated policies   69.739000
4       Manganese  2022  Stated policies   75.369600
..            ...   ...              ...         ...
204       Silicon  2050    Net zero 2050  795.034000
205     Neodymium  2050    Net zero 2050   37.463300
206    Dysprosium  2050    Net zero 2050    3.707260
207  Praseodymium  2050    Net zero 2050    5.619490
208       Terbium  2050    Net zero 2050    0.773601

[209 rows x 4 columns]

In [37]:
# Export the merged DataFrame to a CSV file
merged_df_reset.to_csv('minerals_demand_long.csv', index=False)

In [35]:
# Path to the Excel file
excel_file_path = os.path.join(data_folder_path, 'Mine_Production.xlsx')
sheet = 'minerals'

# Load the data into a pandas DataFrame for stated policies
df_minerals_production = pd.read_excel(excel_file_path, sheet_name=sheet, usecols="A:B", nrows=7)

In [37]:
df_minerals_production

     Mineral  Mine production (kt)
0     Nickel                  3300
1    Lithium                   130
2     Cobalt                   190
3     Copper                    26
4  Manganese                    20
5   Graphite                  1300

In [56]:
csv_file_path = './data/df_mine_production.csv'
df_minerals_production.to_csv(csv_file_path, index=False)

## Stocks

In [112]:
# Worldwide Reserves
excel_file_path = os.path.join(data_folder_path, 'nickel-reserves.xlsx')
sheet = 'Data'

nickel_reserves = pd.read_excel(excel_file_path, sheet_name=sheet, usecols="B:C", skiprows = 4, nrows=23)

In [113]:
nickel_reserves

    Unnamed: 1  Unnamed: 2
0         2000          49
1         2001          58
2         2002          61
3         2003          62
4         2004          62
5         2005          62
6         2006          64
7         2007          67
8         2008          70
9         2009          71
10        2010          76
11        2011          80
12        2012          75
13        2013          74
14        2014          81
15        2015          79
16        2016          78
17        2017          74
18        2018          89
19        2019          89
20        2020          94
21        2021          95
22        2022         100

In [114]:
nickel_reserves.columns = ['year', 'reserve_kt']

In [115]:
nickel_reserves['mineral']='Nickel'

In [116]:
nickel_reserves

    year  reserve_kt mineral
0   2000          49  Nickel
1   2001          58  Nickel
2   2002          61  Nickel
3   2003          62  Nickel
4   2004          62  Nickel
5   2005          62  Nickel
6   2006          64  Nickel
7   2007          67  Nickel
8   2008          70  Nickel
9   2009          71  Nickel
10  2010          76  Nickel
11  2011          80  Nickel
12  2012          75  Nickel
13  2013          74  Nickel
14  2014          81  Nickel
15  2015          79  Nickel
16  2016          78  Nickel
17  2017          74  Nickel
18  2018          89  Nickel
19  2019          89  Nickel
20  2020          94  Nickel
21  2021          95  Nickel
22  2022         100  Nickel

In [117]:
nickel_reserves['reserve_kt'] = nickel_reserves['reserve_kt'] * 1000
nickel_reserves

    year  reserve_kt mineral
0   2000       49000  Nickel
1   2001       58000  Nickel
2   2002       61000  Nickel
3   2003       62000  Nickel
4   2004       62000  Nickel
5   2005       62000  Nickel
6   2006       64000  Nickel
7   2007       67000  Nickel
8   2008       70000  Nickel
9   2009       71000  Nickel
10  2010       76000  Nickel
11  2011       80000  Nickel
12  2012       75000  Nickel
13  2013       74000  Nickel
14  2014       81000  Nickel
15  2015       79000  Nickel
16  2016       78000  Nickel
17  2017       74000  Nickel
18  2018       89000  Nickel
19  2019       89000  Nickel
20  2020       94000  Nickel
21  2021       95000  Nickel
22  2022      100000  Nickel

In [118]:
# Worldwide Reserves
excel_file_path = os.path.join(data_folder_path, 'cobalt-reserves.xlsx')
sheet = 'Data'

cobalt_reserves = pd.read_excel(excel_file_path, sheet_name=sheet, usecols="B:C", skiprows = 4, nrows=23)

In [119]:
# Worldwide Reserves
excel_file_path = os.path.join(data_folder_path, 'lithium-reserves.xlsx')
sheet = 'Data'

lithium_reserves = pd.read_excel(excel_file_path, sheet_name=sheet, usecols="B:C", skiprows = 4, nrows=23)

In [120]:
cobalt_reserves
cobalt_reserves.columns = ['year', 'reserve_kt']
cobalt_reserves['reserve_kt'] = cobalt_reserves['reserve_kt'] * 1000
cobalt_reserves['mineral']='Cobalt'

In [121]:
lithium_reserves
lithium_reserves.columns = ['year', 'reserve_kt']
lithium_reserves['reserve_kt'] = lithium_reserves['reserve_kt'] * 1000
lithium_reserves['mineral']='Lithium'

In [122]:
cobalt_reserves

    year  reserve_kt mineral
0   2010      7300.0  Cobalt
1   2011      7500.0  Cobalt
2   2012      7500.0  Cobalt
3   2013      7200.0  Cobalt
4   2014      7200.0  Cobalt
5   2015      7100.0  Cobalt
6   2016      7000.0  Cobalt
7   2017      7100.0  Cobalt
8   2018      6900.0  Cobalt
9   2019      7000.0  Cobalt
10  2020      7100.0  Cobalt
11  2021      7600.0  Cobalt
12  2022      8300.0  Cobalt

In [123]:
lithium_reserves

    year  reserve_kt  mineral
0   2010     13000.0  Lithium
1   2011     13000.0  Lithium
2   2012     13000.0  Lithium
3   2013     13000.0  Lithium
4   2014     13500.0  Lithium
5   2015     14000.0  Lithium
6   2016     14000.0  Lithium
7   2017     16000.0  Lithium
8   2018     14000.0  Lithium
9   2019     17000.0  Lithium
10  2020     21000.0  Lithium
11  2021     22000.0  Lithium
12  2022     26000.0  Lithium

In [124]:
nickel_reserves

    year  reserve_kt mineral
0   2000       49000  Nickel
1   2001       58000  Nickel
2   2002       61000  Nickel
3   2003       62000  Nickel
4   2004       62000  Nickel
5   2005       62000  Nickel
6   2006       64000  Nickel
7   2007       67000  Nickel
8   2008       70000  Nickel
9   2009       71000  Nickel
10  2010       76000  Nickel
11  2011       80000  Nickel
12  2012       75000  Nickel
13  2013       74000  Nickel
14  2014       81000  Nickel
15  2015       79000  Nickel
16  2016       78000  Nickel
17  2017       74000  Nickel
18  2018       89000  Nickel
19  2019       89000  Nickel
20  2020       94000  Nickel
21  2021       95000  Nickel
22  2022      100000  Nickel

In [129]:
# Concatenate the dataframes
merged_reserves = pd.concat([cobalt_reserves, lithium_reserves, nickel_reserves])

# Resetting the index after concatenation for a clean DataFrame
merged_reserves.reset_index(drop=False, inplace=True)

merged_reserves

    year  reserve_kt  mineral
0   2010      7300.0   Cobalt
1   2011      7500.0   Cobalt
2   2012      7500.0   Cobalt
3   2013      7200.0   Cobalt
4   2014      7200.0   Cobalt
5   2015      7100.0   Cobalt
6   2016      7000.0   Cobalt
7   2017      7100.0   Cobalt
8   2018      6900.0   Cobalt
9   2019      7000.0   Cobalt
10  2020      7100.0   Cobalt
11  2021      7600.0   Cobalt
12  2022      8300.0   Cobalt
13  2010     13000.0  Lithium
14  2011     13000.0  Lithium
15  2012     13000.0  Lithium
16  2013     13000.0  Lithium
17  2014     13500.0  Lithium
18  2015     14000.0  Lithium
19  2016     14000.0  Lithium
20  2017     16000.0  Lithium
21  2018     14000.0  Lithium
22  2019     17000.0  Lithium
23  2020     21000.0  Lithium
24  2021     22000.0  Lithium
25  2022     26000.0  Lithium
26  2000     49000.0   Nickel
27  2001     58000.0   Nickel
28  2002     61000.0   Nickel
29  2003     62000.0   Nickel
30  2004     62000.0   Nickel
31  2005     62000.0   Nickel
32  2006     64000.0   Nickel
33  2007     67000.0   Nickel
34  2008     70000.0   Nickel
35  2009     71000.0   Nickel
36  2010     76000.0   Nickel
37  2011     80000.0   Nickel
38  2012     75000.0   Nickel
39  2013     74000.0   Nickel
40  2014     81000.0   Nickel
41  2015     79000.0   Nickel
42  2016     78000.0   Nickel
43  2017     74000.0   Nickel
44  2018     89000.0   Nickel
45  2019     89000.0   Nickel
46  2020     94000.0   Nickel
47  2021     95000.0   Nickel
48  2022    100000.0   Nickel

In [130]:
# Sort the DataFrame to ensure it's in the correct order for calculations
merged_reserves.sort_values(by=['mineral', 'year'], inplace=True)

merged_reserves['new_finds_pct'] = merged_reserves.groupby('mineral')['reserve_kt'].pct_change().fillna(0) * 100

# Round the 'new_finds_pct' column to one decimal place
merged_reserves['new_finds_pct'] = merged_reserves['new_finds_pct'].round(1)

In [131]:
merged_reserves

    year  reserve_kt  mineral  new_finds_pct
0   2010      7300.0   Cobalt            0.0
1   2011      7500.0   Cobalt            2.7
2   2012      7500.0   Cobalt            0.0
3   2013      7200.0   Cobalt           -4.0
4   2014      7200.0   Cobalt            0.0
5   2015      7100.0   Cobalt           -1.4
6   2016      7000.0   Cobalt           -1.4
7   2017      7100.0   Cobalt            1.4
8   2018      6900.0   Cobalt           -2.8
9   2019      7000.0   Cobalt            1.4
10  2020      7100.0   Cobalt            1.4
11  2021      7600.0   Cobalt            7.0
12  2022      8300.0   Cobalt            9.2
13  2010     13000.0  Lithium            0.0
14  2011     13000.0  Lithium            0.0
15  2012     13000.0  Lithium            0.0
16  2013     13000.0  Lithium            0.0
17  2014     13500.0  Lithium            3.8
18  2015     14000.0  Lithium            3.7
19  2016     14000.0  Lithium            0.0
20  2017     16000.0  Lithium           14.3
21  2018     14000.0  Lithium          -12.5
22  2019     17000.0  Lithium           21.4
23  2020     21000.0  Lithium           23.5
24  2021     22000.0  Lithium            4.8
25  2022     26000.0  Lithium           18.2
26  2000     49000.0   Nickel            0.0
27  2001     58000.0   Nickel           18.4
28  2002     61000.0   Nickel            5.2
29  2003     62000.0   Nickel            1.6
30  2004     62000.0   Nickel            0.0
31  2005     62000.0   Nickel            0.0
32  2006     64000.0   Nickel            3.2
33  2007     67000.0   Nickel            4.7
34  2008     70000.0   Nickel            4.5
35  2009     71000.0   Nickel            1.4
36  2010     76000.0   Nickel            7.0
37  2011     80000.0   Nickel            5.3
38  2012     75000.0   Nickel           -6.2
39  2013     74000.0   Nickel           -1.3
40  2014     81000.0   Nickel            9.5
41  2015     79000.0   Nickel           -2.5
42  2016     78000.0   Nickel           -1.3
43  2017     74000.0   Nickel           -5.1
44  2018     89000.0   Nickel           20.3
45  2019     89000.0   Nickel            0.0
46  2020     94000.0   Nickel            5.6
47  2021     95000.0   Nickel            1.1
48  2022    100000.0   Nickel            5.3

In [134]:
csv_file_path = './data/df_new_finds.csv'
merged_reserves.to_csv(csv_file_path, index=False)